@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --heading-text: #000000E0;
    --text: #000000E0;
    --secondary-text: #000000A6;
    --disabled-text: #00000040;
    --default-border: #D9D9D9;
    --separator: #0505050F;
    --layout-bg: #F5F5F5;
    --background: #FFFFFF;
    --card-bg: #FFFFFF;
    --hover-bg: #FAFAFA;
    --active-bg: #F0F0F0;

    --accent-primary: #3b82f6;
    --accent-hover: #2563eb;
  }

  .dark {
    --heading-text: #FFFFFFD9;
    --text: #FFFFFFD9;
    --secondary-text: #FFFFFFA6;
    --disabled-text: #FFFFFF40;
    --default-border: #424242;
    --separator: #FDFDFD1F;
    --layout-bg: #000000;
    --background: #141414;
    --card-bg: #1F1F1F;
    --hover-bg: #262626;
    --active-bg: #2E2E2E;
    --accent-primary: #60a5fa;
    --accent-hover: #3b82f6;
  }



  /* Base styles */
  * {
    @apply border-border;
  }

  body {
    @apply bg-layout text-text;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-heading;
  }

  p {
    @apply text-text;
  }

  * {
    transition-property: background-color, border-color, color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
  }

  .theme-changing * {
    transition: none !important;
  }
}

@layer utilities {

  .text-heading {
    color: var(--heading-text);
  }

  .text-text {
    color: var(--text);
  }

  .text-secondary {
    color: var(--secondary-text);
  }

  .text-disabled {
    color: var(--disabled-text);
  }

  .bg-layout {
    background-color: var(--layout-bg);
  }

  .bg-background {
    background-color: var(--background);
  }

  .bg-card {
    background-color: var(--card-bg);
  }

  .bg-hover {
    background-color: var(--hover-bg);
  }

  .bg-active {
    background-color: var(--active-bg);
  }

  .border-border {
    border-color: var(--default-border);
  }

  .border-separator {
    border-color: var(--separator);
  }

  .text-accent {
    color: var(--accent-primary);
  }

  .bg-accent {
    background-color: var(--accent-primary);
  }

  .border-accent {
    border-color: var(--accent-primary);
  }

  .hover-accent:hover {
    color: var(--accent-hover);
  }

  .hover-bg-accent:hover {
    background-color: var(--accent-hover);
  }
}